@(film: Film, score: Int = 10, options: Seq[Film] = Seq[Film]())

@main("PlayBafici") {
	<span>Tenes <span id="score">@score</span></span>
	<span id="msg">Jugas por 10 puntos</span>
} {

	<div class="row-fluid">
		<img class="thumb" src="@film.image_url" />
	</div>

	<hr/>

	<div class="row-fluid">
		@for(film:Film <- options){
			@renderOption(film.id,film.title)
		}
		<a id="next" class="btn btn-large disabled">Siguiente</a>
	</div>

}

@renderOption(id: String,title: String) = {
	<a class="option btn btn-large" rel="@id">@title</a><br/>
}

<script type="text/javascript">
	$('.option').bind('click',function(){
		$('.option').unbind('click');
		var correct = '@film.id';
		var puntaje = 0;
		var msg = 'Incorrecto!';
		
		if($(this).attr('rel')==correct){
			puntaje = 10;
			msg = 'Correcto!';
		}

		$('#score').html(parseInt($('#score').html()) + puntaje);

		$('.option').each(function(i,e){
			if($(e).attr('rel')==correct){
				$(e).addClass('btn-success');
			}else{
				$(e).addClass('btn-danger');
			}
		});

		$('#msg').html(msg);
		$('#next').attr('href','/game/'+puntaje)
		$('#next').removeClass('disabled');
	});

</script>
