@(film: Film)

@main("Open Bafici") {
<div id="langSelector" class="btn-group pull-right">
	<a class="btn btn-warning" rel="en">Inglés</a>
	<a class="btn btn-warning active" rel="es">Español</a>
</div>
} {

<div class="row-fluid">
	<div class="hero-unit">
		<div class="row-fluid">
			<img class="thumb" src="@film.image_url">
		</div>	
	</div>	
</div>

<hr/>

<div class="row-fluid">
	@renderOption(film.id,film.title)
	@renderOption(film.id,film.title)
	@renderOption(film.id,film.title)

	<form class="form-vertical">
		<input id="selectedId" type="text" name="selectedId" value=""/>
	</form>
</div>

}

@renderOption(id: String,title: String) = {
	<a class="option btn btn-large" rel="@id" href="javascript:;">@title</a>
	<br/>
}

<script type="text/javascript">
	$('.option').click( function(e) {
		e.preventDefault();
		$('#selectedId').val($(this).attr('rel'));
	})
</script>
